<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <glugox_integration>
            <general>
                <enebled>1</enebled>
            </general>
        </glugox_integration>
    </default>
</config>