<?xml version="1.0" encoding="UTF-8"?>
<!--
 * This file is part of Glugox.
 *
 * (c) Glugox <glugox@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Glugox_Integration::integration" title="Integration" module="Glugox_Integration" sortOrder="10" parent="Glugox_Core::glugox_data" action="glugox_integration/index/" dependsOnModule="Glugox_Integration" resource="Glugox_Integration::integration" />
    </menu>
</config>
